
<div class="jumbotron">
  
<div class= "container">
<div class= "row">  
<div class= "col-sm-6">    
   
  <H1> This is it</H2>
</div>
<div class= "col-sm-6">    
<ul class="list-group">
<li class="list-group-item active">Look what we have</li>    
<li class="list-group-item">
<%= link_to "Orders", orders_path %>
      
     </li>
<li class="list-group-item">
<%= link_to "Goods", goods_path %>
      </li>
  </ul>

</div>
</div>
</div>
</div>